.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: #2f2f2f;
   }
  .messages{
    color: #f6f6f6;
  }

}
